lib/blueprints/tymly-blueprint/state-machines/get-user-remit.json
{
  "Comment": "State machine to get the user remit.",
  "version": "1.0",
  "StartAt": "ClearPreviousRemits",
  "States": {
    "ClearPreviousRemits": {
      "Type": "Task",
      "Resource": "function:tymly_clearPreviousRemits",
      "Next": "MigrateToNewAdUserId"
    },
    "MigrateToNewAdUserId": {
      "Type": "Task",
      "Resource": "module:runStateMachine",
      "ResourceConfig": {
        "stateMachine": "system_migrateUsersIds_1_0"
      },
      "Next": "GetSettings"
    },
    "GetSettings": {
      "Type": "Task",
      "Resource": "module:getSettings",
      "InputPath": "$",
      "Next": "GetFavouriteStartableNames"
    },
    "GetFavouriteStartableNames": {
      "Type": "Task",
      "Resource": "module:getFavouriteStartableNames",
      "InputPath": "$",
      "ResultPath" : "$.favourites",
      "Next": "GetUserRemit"
    },
    "GetUserRemit": {
      "Type": "Task",
      "Resource": "module:getUserRemit",
      "InputPath": "$",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}